$font-family-regular: 'corpregular', Helvetica, Arial, sans-serif, Segoe UI Emoji;
$font-family-bold: 'corpbold', Helvetica, Arial, sans-serif, Segoe UI Emoji;
$font-family-light: 'corplight', Helvetica, Arial, sans-serif, Segoe UI Emoji;
$font-family-medium: 'corpmedium', Helvetica, Arial, sans-serif, Segoe UI Emoji;

$color-text-main: #5f7275;
$color-green: #52aa52;
$color-red: #aa5151;
