@font-face {
    font-family: 'corplight';
    src: url('/fonts/light-webfont.woff2') format('woff2'),
         url('/fonts/light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'corpregular';
    src: url('/fonts/regular-webfont.woff2') format('woff2'),
         url('/fonts/regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'corpbold';
    src: url('/fonts/bold-webfont.woff2') format('woff2'),
         url('/fonts/bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'corpmedium';
    src: url('/fonts/medium-webfont.woff2') format('woff2'),
         url('/fonts/medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
